



.botonera{
    display: grid;
    margin-top: 2rem;
    width: 100%;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 0.5rem;
    text-align: center;

    &__item{
        text-align: center;
    
        img{
            background-color: rgb(178, 118, 218);
            border-radius: 1rem;
            width: 50%;
        }
        
        &:hover{
            opacity: 0.7;
        }
        }
    
    }
