/*-------------------- FOOTER ---------------------  */


footer{
    padding-top: 1rem;
    background-color: rgba(13, 44, 128, 0.192);
    min-height: 150px;

    .flexLogo{
        display: flex;
        justify-content: center;
    
    }
    
    
   

}

.footer{
    &_img{
        width: 4rem;
        height: 3rem;
    }
    &_fondo{
        background: $negro;
        width: 100%;
        padding: 20px;
        padding-bottom: 20px;
        text-align: center;

        p {
            float: center;
            font-size: 14px;
            word-spacing: 2px;
            color: $blanco;
        }

        a {
            text-decoration: none;
        }
    }

    &_noticias{
        display: flex;
        justify-content: flex-start;
        gap: 0.5rem;

        p {
            margin-left: 1rem;
            color: $blanco;
        }
    }
    &Principal{
        display: flex;
        margin-left: 2rem;
        justify-content: center;
        height: 100px;
        align-items: center;
        gap: 2rem;
    }

}


