.gender{
    &__titulo{
        padding-top: 1rem;
        padding-left: 1.5rem;
        color: $blanco;
        font-family:'Roboto Condensed', sans-serif;
        font-size: 25px;
    }
    &__main{
        width: 100%;
        min-height: 200px;
    }
    &Menu{
        @include DGrid(repeat(6, 1fr),repeat(3, 1fr), 1rem);
        margin-top: 2rem;
        width: 100%;

        &__item{
            width: 80%;
            font-size: 18px;
            border-style: solid;
            border-radius: 1rem;
            border-color: rgba($turquesa, 0.2);
            background-color: #000;
        
            a{  

                text-decoration: none;
                color: $blanco;

                &:hover{
                    color: $verdeclaro;
                }
                }
            }
        }


    }


