
.language{
        
        &TypeBox{
            @include DGrid(repeat(5, 1fr),repeat(2, 1fr), 2rem);
            margin-left: 1rem;
            border-style: solid none none none;
            border-color: $bordegris;    
            padding-top: 3rem;
            padding-bottom: 1rem;
            
            img{
                width: 80%;
                height: 80%;
                border-radius: 0.5rem;
            }


            &__item{
                width: 80%;

                h1{
                    color: $blanco;
                    font-size: 25px;
                    margin-top: 1rem;
                }
                &:hover{
                    opacity: 0.5;
                    img{
                        animation: pulse 1.5s infinite;
                    }
                    h1{
                        color: $rosa;
                    }
                }
            }
        }
}

