/* `sm` applies to x-small devices (portrait phones, less than 576px)*/
@media (max-width: 680.98px) {

    header{
        background-image: url("../Imagenes/mobileBack.svg");
        position: sticky;
        top: 0;
        z-index: 100;
    }

    .menu__linea{
        display: block;
    }
    .logo2 img{
        display: block;
    }
    .navPag{
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
        margin-left: 1rem;
        margin-top: 3rem;

        &_item:first-child{
            margin-left: 0;
        }

        &_item:last-child{
            display: block; 
            position: absolute;
            left: 85%;
            bottom: 98%;
        }
    }   

    .logo{
        width: 200px !important;
        height: 100px !important;
        transform: translate(-25%,-80%) !important;
    } 

    #lateral{
        display: block;
        background-color: rgba($color: #000000, $alpha: 0.9);
        height: 100vh;
        width: 80%;
        position: fixed;
        z-index: 100;
        top: -100%;
        left: 0;
        transition: top 0.5s;
    }

    #lateral:target{
        top: 0;
    }

   

    .estreno img{
        height: 400px;
    }

    .carousel-inner h1{
        font-size: medium;
        padding-bottom: 3rem;
    }
    .carousel-inner p{
        font-size: small;
        padding-bottom: 2rem;
    }

    .ultimas{
        grid-template-columns:1fr;
        text-align: center;
        margin-left: 1rem;
        row-gap: 0.5rem;
    }

    .pelisyseries,.peliculas__nombre,.series__nombre,.ultimasAgregadas, .genderTypeBox, .languageTypeBox {
        grid-template-columns:1fr;
        row-gap: 0.5rem;
        margin-left: 0;

        &__item{
            margin: auto;
            margin-bottom: 1rem;
        }
    }

    .peliculasnombre__item, .seriesNombre__item{
        margin: auto;
        margin-bottom: 1rem;
    }

    .ultimas img, .pelisyseries img, .peliculas__nombre img, .ultimasAgregadas img ,.genderTypeBox img, .languageTypeBox img{
        width: 90%;
        height: 100%;
        object-fit: contain;
        padding-right: 0.5rem;
        border-radius: 1rem;
    }
    .ultimas h1, .pelisyseries h1, .peliculas__nombre h1, .ultimasAgregadas h1, .ultimasAgregadas h3, .series__nombre h1, .genderTypeBox h1, .languageTypeBox h1{
        display: none;
    }

    
    .ultimas_titulo, .pelisyseries_titulo, .peliculas__titulo,.series__titulo, .language__titulo, .language__titulo2{
        text-align: center;
    }
    .ultimasAgregadas_titulo {
        font-size: 15px;
        text-align: center;
    }

    .genderMenu{
        grid-template-columns: repeat(3, 1fr);
    }
    .languageMenu{
        grid-template-columns: repeat(3, 1fr);
    }


    .footer_noticias{
        p{
            padding-top: 1rem;
            text-align: left;
            font-size: 16px;
        }
        input{
            margin-top: 0.5rem;
            height: 4rem;
            margin-right: 0.5rem;
        }

        & > input:first-of-type{
            margin-top: 1.5rem;
        width: 50%;
        height: 100%;
        }
    }
    .flexLogo{
        img{
            width: 100%;
        }
    }
    .genderMenu__item{
        font-size: 12px;
    }
}





/* `md` applies to small devices (landscape phones, less than 768px)*/
@media (max-width: 850px) { 
    
    .logo{
    
        position: absolute;
        width: 300px !important;
        height: 100px !important;
        aspect-ratio: 16 /9;
        transform: translate(-30%, -50%);
} 


}

/* `lg` applies to medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { }

/* `xl` applies to large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { }

/* `xxl` applies to x-large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) { }




