
.sectionPelis{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-style: solid none none none;
    border-color: $negro;
    border-width: .3rem;
}
    
.pelisyseries{
    @include DGrid(repeat(5, 1fr),repeat(2, 1fr), 2rem);
    margin-left: 1rem;

    h1{
        font-family:'Roboto Condensed', sans-serif;
        color: $blanco;
        font-size: 30px;
        margin-top: 1rem;
    }
    img{
        width: 70%;
        height: 70%;
        border-radius: 0.5rem;
        transform: scale(1);
    }
    &_titulo{
        margin: 1.5rem 1rem;
        margin-bottom: 2rem;
        font-size: 23px;
        font-family:'Roboto Condensed', sans-serif;
        color: $blanco;
    }
    &_item:hover{
        opacity: 0.5;

        img{
            animation: pulse 1.5s infinite;
        }
        h1{
            color: $lima;
        }
    }
}


