* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #181a1b;
}

header {
  width: 100%;
  height: 80px;
  background-image: url("../Imagenes/layered2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.navPag {
  display: flex;
  position: relative;
  margin: 0;
  padding: 1rem 0;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

.navPag_item {
  list-style: none;
  margin-right: 2rem;
  font-size: 1.3rem;
}

.navPag_item a {
  text-decoration: none;
  color: #be3434;
}

.navPag_item:first-child {
  margin-right: auto;
  margin-left: 3rem;
  font-size: 2rem;
}

.navPag_item, .navPag_item a:hover {
  color: green;
}

.navPag_item:last-child {
  display: none;
}

.navPag_item img {
  width: 30px;
  height: 30px;
}

.navPag_item .navPag__camera {
  width: 2rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.navPag__img {
  height: 1.5rem;
  width: 1.5rem;
}

.navPag__img:hover {
  opacity: 0.45;
}

.logo2 img {
  display: none;
  margin-left: 20%;
  margin-top: 0.5rem;
  border-radius: 1rem;
  width: 100px;
  height: 70px;
  position: absolute;
  z-index: 100;
}

.menu__linea {
  display: none;
}

.menu__linea img {
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 1%;
  top: 2%;
}

.estreno {
  position: relative;
  width: 100%;
  min-height: 200px;
  background-color: black;
}

.estreno img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.estreno h1 {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -200%);
  font-size: 40px;
  color: white;
}

.estreno p {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-45%, -50%);
  font-size: 20px;
  color: white;
}

.estreno a {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 200%);
  border: 2px solid black;
  border-radius: 0.3rem;
  background-color: #95bd4b;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.estreno a:hover {
  background-color: #166092;
}

.opacityImg {
  opacity: 0.5;
}

.ultimas {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  row-gap: 2rem;
  /* display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    row-gap: 2rem;
    text-align: center; */
  margin-left: 1rem;
}

.ultimas a {
  text-decoration: none;
}

.ultimas h1 {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 30px;
  margin-top: 1rem;
}

.ultimas img {
  width: 70%;
  height: 70%;
  border-radius: 0.5rem;
  transform: scale(1);
}

.ultimas_titulo {
  margin: 1.5rem 1rem;
  margin-bottom: 2rem;
  font-size: 23px;
  color: white;
}

.ultimas_item:hover {
  opacity: 0.5;
}

.ultimas_item:hover img {
  animation: pulse 1.5s infinite;
}

.ultimas_item:hover h1 {
  color: #55b955;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.sectionPelis {
  margin-top: 1rem;
  border-style: solid none none none;
  border-color: black;
  border-width: .3rem;
}

.pelisyseries {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  row-gap: 2rem;
  /* display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;
    text-align: center; */
  margin-left: 1rem;
}

.pelisyseries h1 {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 30px;
  margin-top: 1rem;
}

.pelisyseries img {
  width: 70%;
  height: 70%;
  border-radius: 0.5rem;
  transform: scale(1);
}

.pelisyseries_titulo {
  margin: 1.5rem 1rem;
  margin-bottom: 2rem;
  font-size: 23px;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
}

.pelisyseries_item:hover {
  opacity: 0.5;
}

.pelisyseries_item:hover img {
  animation: pulse 1.5s infinite;
}

.pelisyseries_item:hover h1 {
  color: #55b955;
}

/*-------------------- FOOTER ---------------------  */
footer {
  padding-top: 1rem;
  background-color: #151419;
  min-height: 150px;
}

footer h1 {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  color: white;
  font-size: 30px;
  margin-top: 1rem;
}

.footer_img {
  width: 4rem;
  height: 3rem;
}

.footer_fondo {
  background: black;
  width: 100%;
  padding: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.footer_fondo p {
  float: center;
  font-size: 14px;
  word-spacing: 2px;
  color: white;
}

.footer_fondo a {
  text-decoration: none;
}

.footer_noticias {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}

.footer_noticias p {
  margin-left: 1rem;
  color: white;
}

.footerPrincipal {
  display: flex;
  margin-left: 2rem;
  justify-content: center;
  height: 100px;
  align-items: center;
  gap: 2rem;
}

.section__botonera {
  background-image: url("../ImagenesPeliculas/PoligonosAzules.svg");
  background-size: cover;
}

.peliculas__main {
  width: 100%;
  min-height: 200px;
}

.peliculas__titulo {
  padding-top: 1rem;
  padding-left: 1.5rem;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
}

.peliculas__nombre {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  row-gap: 2rem;
  /* display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    row-gap: 2rem; */
  margin-left: 1rem;
  margin-top: 2rem;
  border-style: solid none none none;
  border-color: #303436;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.peliculas__nombre h1 {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 25px;
  margin-top: 1rem;
}

.peliculas__nombre img {
  width: 80%;
  height: 80%;
  border-radius: 0.5rem;
}

.peliculasnombre__item {
  width: 80%;
}

.peliculasnombre__item:hover {
  opacity: 0.5;
}

.peliculasnombre__item:hover img {
  animation: pulse 1.5s infinite;
}

.peliculasnombre__item:hover h1 {
  color: #00ffff;
}

.botonera {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  row-gap: 2rem;
  /* display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 0.5rem;
    text-align: center; */
  margin-top: 2rem;
  width: 100%;
}

.botonera__item {
  text-align: center;
}

.botonera__item img {
  background-color: #b276da;
  border-radius: 1rem;
  width: 50%;
}

.botonera__item:hover {
  opacity: 0.7;
}

.fondoMain {
  background-image: url("../ImagenesSeries/PoligonosNaranja.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.series__main {
  border-style: solid none none none;
  border-color: #303436;
  margin-top: 2rem;
  padding-top: 1rem;
  width: 100%;
  min-height: 200px;
}

.series__titulo {
  padding-top: 1rem;
  padding-left: 1.5rem;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
}

.series__nombre {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  row-gap: 2rem;
  /* display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr); 
        row-gap: 2rem;
        text-align: center; */
  margin-top: 2rem;
  margin-left: 1rem;
}

.series__nombre h1 {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 25px;
  margin-top: 1rem;
}

.series__nombre img {
  width: 80%;
  height: 80%;
  border-radius: 0.5rem;
}

.seriesNombre__item {
  width: 80%;
}

.seriesNombre__item:hover {
  opacity: 0.5;
}

.seriesNombre__item:hover img {
  animation: pulse 1.5s infinite;
}

.seriesNombre__item:hover h1 {
  color: #eeff04;
}

.botoneraSeries__item {
  text-align: center;
}

.botoneraSeries__item img {
  background-color: #b97612;
  border-radius: 1rem;
  width: 50%;
}

.botoneraSeries__item:hover {
  opacity: 0.7;
}

.ultimasAgregadas {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  text-align: center;
  row-gap: 2rem;
  /* display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr); 
    text-align: center;
    row-gap: 2rem; */
  margin-left: 1rem;
  margin-bottom: 6rem;
}

.ultimasAgregadas h1 {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 25px;
  margin-top: 1rem;
}

.ultimasAgregadas h3 {
  color: white;
}

.ultimasAgregadas img {
  width: 80%;
  height: 80%;
  border-radius: 0.5rem;
}

.ultimasAgregadas__item {
  width: 80%;
}

.ultimasAgregadas__item:hover {
  opacity: 0.5;
}

.ultimasAgregadas__item:hover img {
  animation: pulse 1.5s infinite;
}

.ultimasAgregadas__item:hover h1, .ultimasAgregadas__item:hover h3 {
  color: #eeff04;
}

.ultimasAgregadas_titulo {
  padding-top: 1rem;
  margin-left: 1.5rem;
  margin-bottom: 2rem;
  font-size: 23px;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
}

.mainGeneros {
  background-image: url(../ImagenesGeneros/FondoGeneros.svg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 800px;
}

.genderTypeBox {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  row-gap: 2rem;
  /* display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 2rem;
        text-align: center; */
  margin-left: 1rem;
  margin-top: 2rem;
  border-style: solid none none none;
  border-color: white;
  /* cambiar a gradiente */
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.genderTypeBox img {
  width: 80%;
  height: 80%;
  border-radius: 0.5rem;
}

.genderTypeBox__item {
  width: 80%;
}

.genderTypeBox__item h1 {
  color: white;
  font-size: 25px;
  margin-top: 1rem;
}

.genderTypeBox__item:hover {
  opacity: 0.5;
}

.genderTypeBox__item:hover img {
  animation: pulse 1.5s infinite;
}

.genderTypeBox__item:hover h1 {
  color: #24e21e;
}

.gender__titulo {
  padding-top: 1rem;
  padding-left: 1.5rem;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
}

.gender__main {
  width: 100%;
  min-height: 200px;
}

.genderMenu {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  text-align: center;
  row-gap: 1rem;
  /* display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3,1fr);
        row-gap: 1rem;
        text-align: center; */
  margin-top: 2rem;
  width: 100%;
}

.genderMenu__item {
  width: 80%;
  font-size: 18px;
  border-style: solid;
  border-radius: 1rem;
  border-color: rgba(9, 134, 96, 0.2);
  background-color: #000;
}

.genderMenu__item a {
  text-decoration: none;
  color: white;
}

.genderMenu__item a:hover {
  color: #24e21e;
}

.language__main {
  background-image: url(../ImagenesIdioma/FondoRojo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 800px;
}

.languageTypeBox {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  row-gap: 2rem;
  /* display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(2, 1fr);
            text-align: center;
            row-gap: 2rem; */
  margin-left: 1rem;
  border-style: solid none none none;
  border-color: #303436;
  /* cambiar a gradiente */
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.languageTypeBox img {
  width: 80%;
  height: 80%;
  border-radius: 0.5rem;
}

.languageTypeBox__item {
  width: 80%;
}

.languageTypeBox__item h1 {
  color: white;
  font-size: 25px;
  margin-top: 1rem;
}

.languageTypeBox__item:hover {
  opacity: 0.5;
}

.languageTypeBox__item:hover img {
  animation: pulse 1.5s infinite;
}

.languageTypeBox__item:hover h1 {
  color: #f00df0;
}

.languageContainer {
  width: 100%;
  min-height: 200px;
}

.languageContainer2 {
  width: 100%;
  min-height: 160px;
  padding-bottom: 1rem;
}

.language__titulo {
  padding-top: 1rem;
  padding-left: 1.5rem;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
}

.language__titulo2 {
  padding-top: 1rem;
  padding-left: 1.5rem;
  margin-top: 1rem;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
}

.languageMenu {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  text-align: center;
  row-gap: 1rem;
  /* display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(1,1fr);
        row-gap: 1rem;
        text-align: center; */
  padding-left: 1rem;
  margin-top: 2rem;
  width: 100%;
}

.languageMenu__item {
  width: 80%;
  font-size: 18px;
  border-style: solid;
  border-radius: 1rem;
  border-color: rgba(194, 12, 185, 0.61);
  background-color: black;
}

.languageMenu__item a {
  text-decoration: none;
  color: white;
}

.languageMenu__item a:hover {
  color: #f00df0;
}

/* `sm` applies to x-small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  header {
    background-image: url("../Imagenes/mobileBack.svg");
  }
  .menu__linea {
    display: block;
  }
  .logo2 img {
    display: block;
  }
  .navPag {
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    margin-left: 1rem;
  }
  .navPag_item:first-child {
    margin-left: 0;
  }
  .navPag_item:last-child {
    display: block;
    position: absolute;
    top: 6%;
    left: 80%;
  }
  #lateral {
    display: block;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100vh;
    width: 80%;
    position: fixed;
    z-index: 100;
    top: -100%;
    left: 0;
    transition: top 0.5s;
  }
  #lateral:target {
    top: 0;
  }
  .estreno img {
    height: 400px;
  }
  .carousel-inner h1 {
    font-size: medium;
    padding-bottom: 3rem;
  }
  .carousel-inner p {
    font-size: small;
    padding-bottom: 2rem;
  }
  .ultimas {
    grid-template-columns: 1fr;
    text-align: center;
    margin-left: 1rem;
    row-gap: 0.5rem;
  }
  .pelisyseries, .peliculas__nombre, .series__nombre, .ultimasAgregadas, .genderTypeBox, .languageTypeBox {
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
  }
  .ultimas img, .pelisyseries img, .peliculas__nombre img, .ultimasAgregadas img, .genderTypeBox img, .languageTypeBox img {
    width: 90%;
    height: 100%;
    object-fit: contain;
    padding-right: 0.5rem;
    border-radius: 1rem;
  }
  .ultimas h1, .pelisyseries h1, .peliculas__nombre h1, .ultimasAgregadas h1, .ultimasAgregadas h3, .series__nombre h1, .genderTypeBox h1, .languageTypeBox h1 {
    display: none;
  }
  .ultimas_titulo, .pelisyseries_titulo, .peliculas__titulo, .series__titulo, .language__titulo, .language__titulo2 {
    text-align: center;
  }
  .ultimasAgregadas_titulo {
    font-size: 15px;
    text-align: center;
  }
  .genderMenu {
    grid-template-columns: repeat(3, 1fr);
  }
  .languageMenu {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer_noticias p {
    padding-top: 1rem;
    text-align: left;
    font-size: 16px;
  }
  .footer_noticias input {
    margin-top: 0.5rem;
    height: 4rem;
    margin-right: 0.5rem;
  }
  .footer_noticias > input:first-of-type {
    margin-top: 1.5rem;
    width: 50%;
    height: 100%;
  }
}

/* `md` applies to small devices (landscape phones, less than 768px)*/
/* `lg` applies to medium devices (tablets, less than 992px)*/
/* `xl` applies to large devices (desktops, less than 1200px)*/
/* `xxl` applies to x-large devices (large desktops, less than 1400px)*/
/* ---------------- Pagina Peliculas ---------------- */
/* ---------------- Pagina Series ---------------- */
/* --------------------------- Generos --------------------------- */
/* --------------------------- Idioma --------------------------- */
/* --------------------------- Medias Queries --------------------------- */
/*# sourceMappingURL=style.css.map */